Ai chatbot telegram.json
{
  "name": "Ai chatbot telegram",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        80
      ],
      "id": "c6e6a2cc-c910-48fd-90d8-37908172c43d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -176,
        352
      ],
      "id": "7b553d3a-4b18-4acf-b562-da06a238dae5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Zb4K7VjGI397s28M",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        480,
        192
      ],
      "id": "6b399168-9819-4ee4-bab5-42b0d3620388",
      "name": "Send a message in Gmail",
      "webhookId": "7d9d8203-f366-4f9a-aaa5-1ad3495b9267",
      "credentials": {
        "gmailOAuth2": {
          "id": "pkZY09reuAEepcXT",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10M_HJj3TEN3w0LbOSDAEET6g9ma8ONfeKdZytXE3KL0",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10M_HJj3TEN3w0LbOSDAEET6g9ma8ONfeKdZytXE3KL0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10M_HJj3TEN3w0LbOSDAEET6g9ma8ONfeKdZytXE3KL0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        336,
        320
      ],
      "id": "e9f052d1-e56d-4562-9142-32cadc2deea7",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SAGUw7AJa6L2NOgE",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        96,
        368
      ],
      "id": "a8a15349-f69a-4b03-ac23-6754dda470b6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        96
      ],
      "id": "97e28e7a-b097-41c7-8fe8-4fcb3e303116",
      "name": "Telegram Trigger",
      "webhookId": "6a066c1f-2395-4d89-ba4e-d776789ab176",
      "credentials": {
        "telegramApi": {
          "id": "ByJCp0PNNCpdvxcs",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        336,
        80
      ],
      "id": "aad20de1-bca8-4bb1-ad7a-317f1d85d48b",
      "name": "Send a text message",
      "webhookId": "62ab5be7-d729-4751-8080-a8848229a6c3",
      "credentials": {
        "telegramApi": {
          "id": "ByJCp0PNNCpdvxcs",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "232f39f7-0f87-4880-88e1-c926b1e9a30e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc300201cf20cb1a3a8efa6a5bd593ec18a73c612d3163e3c4c04d6e16edfe40"
  },
  "nodeGroups": [],
  "id": "HaLzEdCgHsAZVQEg",
  "tags": []
}